@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lora:wght@400;500;700&display=swap');

@font-face {
    font-family: Inter;
    src: url(./fonts/Inter/Inter-VariableFont.ttf);
}

@font-face {
    font-family: Lora-Italic;
    src: url(/fonts/Lora/Lora-Italic-VariableFont.ttf);
}

@font-face {
    font-family: Lora-Normal;
    src: url(/fonts/Lora/Lora-VariableFont.ttf);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #F6F2F1;
}

button {
    cursor: pointer;
}

/* FONTS */
/* Inter */
/* Lora */


/* Hero Section */
.hero_section_img {
    background-image: url('./assets/hero_image.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 43.375rem;
    position: relative;
    padding: 0 0.5rem;
}

.logo {
    width: 149.13px;
    height: 52.47px;
}

#nav {
    transition: background-color 0.3s ease !important;
}

.navbar {
    width: 97% !important;
    margin: 0 auto !important;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

/* .navbar-toggler {
    display: inline-flex;
    margin-left: auto !important;
} */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/* Custom button styling */
.custom-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #1A1A1A !important;
    color: white !important;
    padding: 15px 30px !important;
    border-radius: 30px !important;
    font-size: 18px;
    text-decoration: none;
    border: 2px solid white !important;
    transition: all 0.3s ease-in-out;
    position: relative;
    box-shadow: 4px 2px 4px #F20034 !important;
    font-family: 'Inter', sans-serif;
}

/* Arrow styling */
.custom-button .arrow {
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Hover effects */
.custom-button:hover {
    background-color: white;
    /* Change to white background */
    color: #000;
    /* Black text */
}

.custom-button:hover .arrow {
    transform: translateX(5px);
    /* Move arrow to the right */
}

.custom-button:hover {
    border-color: black;
    /* Change border color on hover */
}

/* Hero Texts */
.words_div {
    position: absolute;
    bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.banner_text {
    font-size: 5rem;
    line-height: 5.25rem;
    display: inline;
    font-family: 'Lora', sans-serif;
}

.movers,
.shakers,
.creators_hero {
    text-shadow: 5px 0px #F20034;
}

.banner_paragraph {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.75rem;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    margin-top: 1.5rem;
    margin-left: 0.25rem;
}

.break_shakers {
    display: none;
}

.custom_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff !important;
    color: #1A1A1A !important;
    padding: 15px 30px !important;
    border-radius: 30px !important;
    font-size: 18px;
    text-decoration: none;
    border: 2px solid #1A1A1A !important;
    transition: all 0.3s ease-in-out;
    position: relative;
    box-shadow: 4px 2px 4px #F20034 !important;
    margin-top: -2rem;
    margin-left: 1rem;
}

/* Arrow styling */
.custom_btn .arrow {
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Hover effects */
.custom_btn:hover {
    background-color: #1A1A1A;
    /* Change to white background */
    color: #ffffff;
    /* Black text */
}

.custom_btn:hover .arrow {
    transform: translateX(5px);
    /* Move arrow to the right */
}

.custom_btn:hover {
    border-color: black;
    /* Change border color on hover */
}

/* Empowering Innovators */
.color_red {
    color: #F20034 !important;
}

.color_orange {
    color: #FF611E !important;
}

.big_text {
    font-size: 5rem;
    font-weight: 500;
    line-height: 5rem;
    font-style: italic;
    font-family: 'Lora', sans-serif;
    margin-top: 3rem;
}

.innovators {
    margin-top: 2rem;
    background-image: url('./assets/left_vector.svg') !important;
    background-size: contain !important;
    background-position: left !important;
    background-repeat: no-repeat !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-bottom: 5rem;
}

.innovators_right {
    background-image: url('./assets/right_vector.svg') !important;
    background-size: contain !important;
    background-position: bottom right !important;
    background-repeat: no-repeat !important;
}

.star_img {
    margin-top: -5rem;
    margin-left: -3.5rem;
    width: 5rem;
    height: 5rem;
}

.some_cards {
    margin-top: 9rem;
    padding: 0.625rem !important;
}



.img_cards {
    width: 24.125rem;
    height: 27.0625rem;
}

.cards_titles {
    font-weight: 600;
    font-size: 2rem;
    line-height: 6rem;
    font-family: 'Lora', sans-serif;
}

.cards_para {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #726664;
    overflow-wrap: break-word !important;
    font-family: 'Inter', sans-serif;
}

.impact {
    margin-top: 2rem;
}

.row_margin {
    margin-top: 3rem;
}

.margin_top {
    margin-top: 3rem;
}

/* Styling for video background */
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    /* Ensure the video stays behind everything */
}

/* Gradient overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000e2, #000000e2, #000000e2, #3F000Ee2);
    z-index: -1;
}

/* Upcoming events Section */
.dark_bg {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 5rem;
    position: relative;
    z-index: 1;
}

.u_event {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #F20034;
    font-family: 'Inter', sans-serif;
    margin-left: 0.625rem;
    margin-top: 3rem;
}

.level_up {
    font-weight: 500;
    font-style: italic;
    font-size: 3.75rem;
    line-height: 4.375rem;
    overflow-wrap: none;
    font-family: 'Lora', sans-serif;
}

.red_ziggy {
    margin-left: -12rem !important;
    transform: translateY(3rem);
}

.break {}

.margin_down {
    margin-top: 5rem !important;
}

.left_text {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.big_title {
    font-size: 5.125rem;
    font-weight: 600;
    line-height: 3.875rem;
    color: #FFFFFFB2;
    font-family: 'Lora', sans-serif;
}

.small_header {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.margin {
    margin-top: 1rem !important;
}

.images {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 calc(50% - 1rem);
    flex-wrap: wrap;
    gap: 1rem;
    overflow: hidden;
    height: 69.3125rem;
}

.image_card {
    width: 13.75rem;
    height: 29.4375rem;
    display: inline;
}

.mentorship {
    margin-top: -11rem;
}

.panel {
    margin-top: 1rem;
}

.interactive {
    margin-top: -10rem;
}

.networking {
    display: block;
}

.design_thinking {
    transform: translateY(-3rem);
}

/* Responsive design to ensure button looks good on all devices */
@media (max-width: 576px) {
    .custom-button {
        font-size: 16px;
        padding: 10px 20px;
    }

    .words_div,
    .innovators {
        padding: 0.625rem;
    }

    .custom_btn {
        font-size: 16px;
        padding: 10px 20px;
        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .card_wrapper {
        width: 97%;
        margin: 1rem auto;
    }


}

@media screen and (max-width: 767px) {
    .banner_text {
        font-size: 2.25rem;
        line-height: 2.25rem;
    }

    .banner_paragraph {
        font-size: 1rem;
    }

    .inustry_break,
    .shaping_break,
    .movers_break {
        display: none !important;
    }

    .innovators {
        margin-top: 0;
    }

    .break_shakers {
        display: inline;
    }


    .img_cards {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .margin_down {
        display: flex !important;
    }


}

/* 1024px media query */
@media screen and (max-width: 1023px) {
    .red_ziggy {
        width: 5.75rem;
        height: 1.03125rem;
        transform: translateY(1.5rem);
        margin-left: -7rem !important;
    }


    .images {
        margin-top: 3rem !important;
        justify-content: normal;
        height: auto;
        overflow: none;
        justify-content: center;
        padding-bottom: 1.5rem;
    }

    .innovators {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }

    .innovators,
    .innovators_right {
        background-image: none !important;
    }

    .u_event {
        margin-top: 2rem !important;
    }

    .level_up {
        margin-top: 2rem;
        font-size: 2rem;
        line-height: 2.175rem;
    }

    .custom_btn {
        margin-left: 0;
    }

    .big_text {
        font-size: 1.75rem;
        line-height: 3rem;
        margin-top: 0;
    }

    .star_img {
        width: 1.375rem;
        height: 1.375rem;
        margin-top: -2rem;
        margin-left: -1rem;
    }

    .some_cards {
        margin-top: 0;
    }

    .dark_bg {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }

    .left_text {
        margin-top: 2rem;
        font-size: 0.875rem;
        line-height: 1.3125rem;
    }

    .big_title {
        font-size: 2.5rem;
        line-height: 1.9375rem;
    }

    .small_header {
        font-size: 0.5625rem;
        line-height: 0.75rem;
    }

    .mentorship,
    .networking,
    .design_thinking,
    .panel,
    .interactive {
        margin-top: 0;
        width: 6.5625rem;
        height: 14.0625rem;
    }

    .design_thinking {
        transform: translateY(0);
    }
}


/* TESTIMONIALS STYLING */
.testimonial {
    position: relative;
    margin: 50px 50px 100px 50px;
}

.testimonial h2 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 1.1200000047683716px;
    color: #000000;
    text-align: center;
}

.testimonial h3 {
    font-family: Lora-Normal;
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
    color: #000000;
    width: 900px;
    text-align: center;
    margin: 20px auto;
}

.testimonial h3 span {
    font-family: Lora-Italic;
    font-weight: 600;
    color: #F35636;
}

.testimonial-video {
    background-color: #000000;
    width: 700px;
    height: 382px;
    border-radius: 20px;
    display: block;
    margin: 50px auto;
}

.testimonial-video iframe {
    height: 100%;
    display: block;
    margin: auto;
    border: 0;
}

.test-star {
    position: absolute;
}

.red-star-1 {
    left: 100px;
    top: 0;
}

.red-star-2 {
    right: 120px;
    top: 350px;
}

.black-star-1 {
    right: 50px;
    top: 100px;
}

.black-star-2 {
    left: 100px;
    top: 500px;
}

.test-net-arrow-left {
    left: 0;
    bottom: 2950px;
}

.test-net-arrow-right {
    right: 0;
    bottom: 2650px;
}




/* EVENT STYLING */
.events {
    margin: 50px 100px;
}

.events h2 {
    font-family: Lora-Normal;
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
    margin-bottom: 60px;
}

.event-img {
    width: 534px;
}

.event-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.event-text h3 {
    font-family: Lora-Normal;
    font-size: 45.75px;
    font-weight: 500;
    line-height: 72px;
    text-align: left;
}

.event-text p {
    font-family: Inter;
    font-size: 19.06px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #726664;
    width: 353px;
}

.event-btn {
    font-family: Inter;
    font-size: 15.13px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    width: 195.69px;
    height: 52px;
    padding: 14px 16px;
    margin-top: 50px;
    border-radius: 27px;
    border: 1px;
    background: #1A1A1A;
    border: 1px solid #FFFFFF;
    box-shadow: 2px 3px 0px 0px #F20034;
}

.event-btn:hover {
    border: 0;
    box-shadow: 2px 3px 0px 0px #ffffff;
}

.event-btn span {
    margin-left: 50px;
}


/* BACKGROUND VECTOR IMAGE */
.net-arrow {
    position: absolute;
    z-index: -1;
    height: 1319px;
}

.net-arrow-right {
    right: 0;
    bottom: 1100px;
}

.net-arrow-left {
    left: 0;
    bottom: 1500px;
}


/* COMMUNITY SECTION */
.community {
    margin: 200px 100px 50px 100px;
}

.community-text {
    text-align: center;
}

.community-text h2 {
    font-family: Lora-Normal;
    font-size: 58px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: -1.5px;
    text-align: center;
}

.community-text p {
    font-family: Inter;
    width: 1112px;
    display: block;
    margin: auto;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.4px;
    letter-spacing: -0.5px;
    color: #00000080;
}

.community-btn {
    font-family: Lora-Normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: -0.36000001430511475px;
    display: block;
    margin: auto;
    width: 248.75px;
    height: 56.8px;
    padding: 13px 26px;
    border-radius: 30px;
    color: #FFFFFF;
    border: 2px;
    background: #1A1A1A;
    border: 2px solid #FFFFFF;
    box-shadow: 3px 3px 0px 0px #F20034;
    margin-top: 30px;
}

.community-btn:hover {
    border: 0;
    box-shadow: 3px 3px 0px 0px #ffffff;
}

.community-btn span {
    margin-left: 15px;
}

.comm-img-1 {
    width: 650px;
    height: 750px;
    border-radius: 50px;
}

.comm-img-2 {
    width: 300px;
    height: 380px;
}

.comm-img-3 {
    width: 500px;
    height: 360px;
}

.comm-img {
    display: block;
    margin: auto;
    padding: 10px;
    object-fit: cover;
}

.community-img {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.img-shape-grp {
    display: flex;
}



/* FAQ STYLING */
.faq {
    display: flex;
    margin: 50px 100px;
    justify-content: space-between;
}

.faq-heading {
    font-family: Lora-Normal;
    width: 234px;
    font-size: 41.94px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -1.3200000524520874px;
    color: #1A1A1A;
}

.faq-accordion {
    width: 700px;
}

.accordion-header {
    font-family: Inter;
    width: 700px;
    height: 69px;
    border-bottom: 1px solid #1A1A1A26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19.06px;
    font-weight: 700;
    line-height: 28px;
    cursor: pointer;
}

.accordion-header span:nth-child(1) {
    width: 80%;
}

.accordion-content {
    display: none;
    padding: 15px;
    border-bottom: 1px solid #1A1A1A26;
    border-top: none;
}





/* FOOTER STYLING */
footer {
    background-color: #000000;
    color: #F3F4F6;
    padding: 100px 100px 30px 100px;
}

footer a {
    color: #F3F4F6;
    text-decoration: none;
    display: block;
    font-weight: 400;
}

footer img {
    height: 58px;
}

footer hr {
    margin: 20px 0;
}

.footer-part-1 {
    display: flex;
    justify-content: space-between;
}


.footer-links-1 a {
    line-height: 2;
    font-family: Lora-Normal;
}

.footer-links-2 a {
    line-height: 2;
    font-family: Lora-Normal;
}

.footer-questions {
    font-family: Inter;
    line-height: 22px;
    color: #F3F4F6;
}

.footer-questions h5 {
    font-size: 20px;
    font-weight: 300;
}

.footer-questions p {
    font-size: 15px;
    font-weight: 300;
}

.footer-questions-btn {
    font-family: Lora-Normal;
    width: 240px;
    height: 48px;
    margin: 20px 0;
    background-color: #F20034;
    gap: 3px;
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid #FFFFF3;
    box-shadow: 3px 3px 0px 0px #FFFFFF;
}

.footer-questions-btn:hover {
    border: 0;
    box-shadow: 3px 3px 0px 0px #000000;
}

.footer-part-2 {
    font-family: Inter;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #F3F4F6B2;
}

.terms-policy {
    display: flex;
}

.terms-policy a {
    margin: 0 20px;
    color: #F3F4F6B2;
}

.follow-us {
    font-family: Inter;
    font-size: 19.22px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: #F3F4F6B2;
}



/* RESPONSIVENESS STARTS HERE */
@media (max-width: 450px) {

    /* TESTIMONIAL RESPONSIVENESS */
    .testimonial {
        margin: 50px 10px;
    }

    .testimonial h3 {
        font-size: 40px;
        line-height: 40px;
        width: 350px;
    }

    .testimonial-video {
        width: 350px;
        height: 200px;
    }

    .testimonial-video iframe {
        width: 50%;
    }

    .red-star-1 {
        left: 10px;
        top: 0;
    }

    .red-star-2 {
        right: 0;
        top: 250px;
    }

    .black-star-1 {
        right: 50px;
        top: 100px;
    }

    .black-star-2 {
        left: 25px;
        top: 350px;
    }


    /* EVENTS RESPONSIVENSS */
    .events {
        margin: 50px 10px;
    }

    .events h2 {
        font-size: 45px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    .event-section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .event-img {
        width: 400px;
        margin: 30px auto 0 auto;
        display: block;
    }

    .event-text {
        margin: 20px 0;
    }

    .event-btn {
        margin-top: 10px;
    }

    .event-text h3 {
        font-size: 35px;
        line-height: 50px;
    }



    /* BACKGROUND VECTOR IMAGE RESPONSIVENESS */
    .net-arrow {
        width: 50%;
    }


    /* COMMUNITY RESPONSIVENESS */
    .community {
        margin: 50px 10px;
    }

    .community-text h2 {
        font-size: 38px;
        line-height: 50px;
    }

    .community-text p {
        width: 100%;
        margin: 20px 0;
    }

    .community-img {
        flex-direction: column;
    }

    .comm-img-1 {
        width: 300px;
        height: 550px;
        border-radius: 30px;
    }

    .comm-img-2 {
        width: 300px;
    }

    .comm-img-3 {
        width: 300px;
        height: 200px;
        border-radius: 30px;
    }

    .img-shape-grp {
        flex-direction: column;
    }


    /* FAQ RESPONSIVENESS */
    .faq {
        flex-direction: column;
        margin: 50px 10px;
    }

    .faq-heading {
        width: 100%;
        text-align: center;
    }

    .faq-accordion {
        width: 100%;
    }

    .accordion-header {
        width: 100%;
        height: 100%;
        padding: 10px 0;
    }



    /* FOOTER RESPONSIVENESS */
    footer {
        padding: 20px 10px 5px 10px;
    }

    footer img {
        height: 48px;
        width: 150px;
    }

    .footer-part-1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links-1 {
        display: block;
        margin: 20px 0;
        font-size: 20px;
    }

    .footer-links-2 {
        margin: 20px 0;
        font-size: 20px;
    }

    .footer-questions h5 {
        font-size: 22px;
        text-align: center;
    }

    .footer-questions p {
        font-size: 18px;
        text-align: center;
    }

    .footer-questions-btn {
        display: block;
        margin: 20px auto;

    }

    .follow-us {
        margin: 20px 0;
    }

    .footer-part-2 {
        flex-direction: column;
        align-items: center;
    }

    .terms-policy {
        margin: 20px 0;
    }
}

/* RESPONSIVENESS ENDS HERE */